@* @inject *@
@page "/Movie"
<h3>Movie</h3>

<div class="target-container" @onclick="@(() => PopupVisible = true)">
    <p class="target-caption">CLICK TO SHOW A POP-UP WINDOW</p>
</div>

<DxPopup
    @bind-Visible="@PopupVisible"
    ShowFooter="true"
    HeaderText="Edit Contact">
    <BodyContentTemplate>
        <DxTreeList Data="@TreeListData"
                    KeyFieldName="ID"
                    ParentKeyFieldName="ProducerID"
                    ShowAllRows="true"
                    ColumnResizeMode="TreeListColumnResizeMode.NextColumn"
                    TextWrapEnabled="false">
            <Columns>
                <DxTreeListDataColumn FieldName="Producer" Caption="Studio" />
                <DxTreeListDataColumn FieldName="Name" Caption="Movie Name" />
                <DxTreeListDataColumn FieldName="BoxOffice" Caption="Box Office/Movie Count" />

            </Columns>
        </DxTreeList>
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="OK" Click="@(() => PopupVisible = false)" />
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@(() => PopupVisible = false)" />
    </FooterContentTemplate>
</DxPopup>




@code {
    object TreeListData { get; set; }
    protected override void OnInitialized()
    {
        TreeListData = MovieByStudioProvider.GenerateList();
    }
    bool PopupVisible { get; set; }
}

